{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Fees</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'accounts-fees-collections' %}">Fees</a></li>
            <li class="breadcrumb-item active">Add Fees</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Fees Information</span></h5>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="fee_id">Fees ID</label>
                    <input type="text" class="form-control" name="fee_id" id="fee_id" required>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="fee_type">Fees Type</label>
                    <select class="form-control" name="fee_type" id="fee_type" required>
                      <option value="">Select Type</option>
                      <option value="Class Test">Class Test</option>
                      <option value="Exam Fees">Exam Fees</option>
                      <option value="Hostel Fees">Hostel Fees</option>
                      <option value="Transport Fees">Transport Fees</option>
                      <option value="Mess Fees">Mess Fees</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="class_name">Class</label>
                    <select class="form-control" name="class_name" id="class_name" required>
                      <option value="">Select Class</option>
                      {% for i in "LKG UKG 1 2 3 4 5 6 7 8 9 10 11 12".split %}
                        <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="amount">Fees Amount</label>
                    <input type="number" step="0.01" class="form-control" name="amount" id="amount" required>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" class="form-control" name="start_date" id="start_date" required>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" class="form-control" name="end_date" id="end_date" required>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
