{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title"><i class="fas fa-holly-berry text-primary mr-2"></i>Holiday List</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Holiday</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Holiday Table -->
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Upcoming Holidays</h5>
                    <a href="#" class="btn btn-sm btn-primary"><i class="fas fa-plus mr-1"></i> Add Holiday</a>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 table-bordered">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th style="width: 50px;">#</th>
                                    <th>Holiday Name</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>1</td>
                                    <td><i class="fas fa-snowflake text-info mr-1"></i> New Year</td>
                                    <td>01 Jan 2025</td>
                                    <td>Wednesday</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><i class="fas fa-flag text-danger mr-1"></i> Republic Day</td>
                                    <td>26 Jan 2025</td>
                                    <td>Sunday</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><i class="fas fa-palette text-warning mr-1"></i> Holi</td>
                                    <td>17 Mar 2025</td>
                                    <td>Monday</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><i class="fas fa-flag-usa text-success mr-1"></i> Independence Day</td>
                                    <td>15 Aug 2025</td>
                                    <td>Friday</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><i class="fas fa-lightbulb text-warning mr-1"></i> Diwali</td>
                                    <td>29 Oct 2025</td>
                                    <td>Wednesday</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
